absl-py==0.13.0
apache-beam==2.32.0
appdirs==1.4.4
argon2-cffi==20.1.0
asn1crypto==0.24.0
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
audioread==2.1.9
avro-python3==1.9.2.1
backcall==0.2.0
bleach==4.0.0
bokeh==2.3.3
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
cffi==1.12.3
charset-normalizer==2.0.4
clang==5.0
Click==7.0
cloudml-hypertune==0.1.0.dev6
cloudpickle==2.0.0
cmake==3.21.3
crcmod==1.7
crepe==0.0.12
cryptography==2.1.4
cycler==0.10.0
dataclasses==0.8
ddsp==1.6.5
decorator==5.0.9
defusedxml==0.7.1
dill==0.3.1.1
dm-tree==0.1.6
docopt==0.6.2
entrypoints==0.3
fastavro==1.4.5
fire==0.4.0
Flask==1.0.2
flatbuffers==1.12
future==0.18.2
gast==0.4.0
gin-config==0.4.0
google-api-core==2.0.1
google-auth==1.34.0
google-auth-oauthlib==0.4.5
google-cloud-core==2.0.0
google-cloud-storage==1.42.1
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==2.0.2
googleapis-common-protos==1.53.0
googledrivedownloader==0.4
grpcio==1.39.0
gviz-api==1.9.0
h5py==3.1.0
hdfs==2.6.0
hmmlearn==0.2.6
httplib2==0.19.1
idna==2.6
imageio==2.9.0
importlib-metadata==4.6.3
importlib-resources==5.2.2
intervaltree==3.1.0
ipykernel==5.1.1
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.10.1
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-http-over-ws==0.0.8
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keras==2.6.0
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
librosa==0.8.1
livelossplot==0.5.4
llvmlite==0.36.0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.0.3
mido==1.2.10
mir-eval==0.6
mistune==0.8.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==4.4.0
nest-asyncio==1.5.1
note-seq==0.0.3
notebook==6.4.3
numba==0.53.1
numpy==1.16.3
oauth2client==4.1.3
oauthlib==3.1.1
opt-einsum==3.3.0
orjson==3.6.1
packaging==21.0
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pooch==1.5.1
pretty-midi==0.2.9
prometheus-client==0.11.0
promise==2.3
prompt-toolkit==3.0.19
protobuf==3.17.3
ptyprocess==0.7.0
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.7.1
pycparser==2.19
pycrypto==2.6.1
pydash==5.0.2
pydot==1.4.2
pydub==0.25.1
Pygments==2.9.0
pygobject==3.26.1
pymongo==3.12.0
pyparsing==2.4.0
pyrsistent==0.18.0
python-dateutil==2.8.0
pytz==2021.1
pyxdg==0.25
PyYAML==5.4.1
pyzmq==22.2.1
qtconsole==5.1.1
QtPy==1.9.0
requests==2.26.0
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.5.4
SecretStorage==2.3.1
Send2Trash==1.8.0
six==1.12.0
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-profile==2.5.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-addons==0.14.0
tensorflow-estimator==2.6.0
tensorflow-hub==0.12.0
tensorflow-metadata==1.2.0
tensorflow-probability==0.14.0
tensorflowjs==3.9.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
tflite-support==0.2.0
threadpoolctl==2.2.0
tornado==6.1
tqdm==4.62.2
traitlets==4.3.3
typeguard==2.12.1
typing-extensions==3.7.4.3
urllib3==1.26.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.15.2
widgetsnbextension==3.5.1
wrapt==1.12.1
youtube-dl==2021.6.6
zipp==3.5.0
